<link rel="stylesheet" type="text/css" href="/public/about.css">
<h1>About Money Minder and the Innovative people behind it !</h1>

<p>Money Minder is an application designed to help individuals track their personal finances. It provides a simple and
    efficient way to keep track of income and expenses, budgeting, saving goals, and more. Money Minder can be used to
    monitor spending habits, set financial goals, and make informed decisions about money management.
</p>

<p> With Money Minder, users can easily view and categorize their expenses to identify areas where they can cut back on
    spending. The app allows users to set up a budget and track their progress towards achieving it. Additionally, users
    can set saving goals and track their progress towards meeting those goals.</p>

<p>Overall, Money Minder provides users with a comprehensive tool to manage their personal finances, allowing them to
    make informed financial decisions and achieve their financial goals.</p>

<h2>The people who made this possible !</h2>

<div id="team-members">
    <div class="team-member">
        <img id="yuvaraj_img" src="../public/images/A1.jpg" alt="Yuvaraj Nagi Picture">
        <a>Name : Yuvaraj Nagi</a>
        <a>Email : ynagi@stevens.edu</a>
    </div>

    <div class="team-member">
        <img id="aishwarya_img" src="../public/images/Pic-1.jpg" alt="Aishwarya Patel Picture">
        <a>Name : Aishwarya Patel</a>
        <a>Email : apatel24@stevens.edu</a>
    </div>

    <div class="team-member">
        <img id="shreyak_img" src="../public/images/Pic-1.jpg" alt="Shreyak Godala Picture">
        <a>Name : Shreyak Godala</a>
        <a>Email : sgodala@stevens.edu</a>
    </div>

    <div class="team-member">
        <img id="daksh_img" src="../public/images/Daksh.jpeg" alt="Daksh Pruthi Picture">
        <a>Name : Daksh Pruthi</a>
        <a>Email : dpruthi@stevens.edu</a>
    </div>
</div>