<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body>
  <script>
    function drawChart() {
      // Define the data for the chart
      let data = new google.visualization.DataTable();
      data.addColumn('string', 'Task');
      data.addColumn('number', 'Hours per Day');
      data.addRows([
        ['Food', 8],
        ['Clothing', 2],
        ['Travel', 4],
        ['Bills', 8],
        ['Misc', 2]
      ]);

      // Define the options for the chart
      let options = {
        title: 'Category wise expenditure'
      };

      // Create a new chart and draw it on the page
      let chart = new google.visualization.PieChart(document.getElementById('chart_div_piechart'));
      chart.draw(data, options);
    }

    // Load the Google Charts library and call the drawChart function
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
  </script>
  <script>
    function drawChart_bar() {
      // Define the data for the chart
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Year');
      data.addColumn('number', 'Sales');
      data.addRows([
        ['2010', 1000],
        ['2011', 1170],
        ['2012', 660],
        ['2013', 1030]
      ]);

      // Define the options for the chart
      var options = {
        title: 'Sales by Year',
        legend: { position: 'none' },
        width: 600,
        height: 400
      };

      // Create a new chart and draw it on the page
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_barchart'));
      chart.draw(data, options);
    }

    // Load the Google Charts library and call the drawChart function
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart_bar);
  </script>

  <div id="chart_div_piechart" style="width: 900px; height: 500px;">Charts</div>
  <div id="chart_div_barchart" style="width: 900px; height: 500px;">Charts</div>

  <style>
  #chart_div_piechart, #chart_div_barchart {
    display: inline-block;
    width: 50%;
  }
  </style>
</body>