
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/public/charts/charts.js"></script>
  <script>
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawCharts);
  </script>

  <h1>Charts</h1>
  
  <form action="/charts/getCharts" method="get">
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" value="{{startDate}}" required>
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" value="{{endDate}}" required>
    <button type="submit">Update Charts</button>
  </form>

  <div id="transactions-data" style="display:none;">{{json transactions1}}</div>

  <div id="piechart" style="width: 900px; height: 500px;"></div>
  <div id="linechart" style="width: 900px; height: 500px;"></div>
  <div id="barchart" style="width: 900px; height: 500px;"></div>
  <div id="stackedColumnChart" style="width: 900px; height: 500px;"></div>

