<div class="forgot-password">
    <h2>Enter OTP received</h2>
    <form id="forgot-password-form" action="/otp_validation" method="post">
        <label for="email">OTP:</label>
        <input type="number" id="otp" name="otp" required>
        <button type="submit" id="submit-email">Submit</button>
    </form>