{{!--
<link rel="stylesheet" type="text/css" href="/public/log_in.css" />
<div class="container">
    <h1>Forgot Password? </h1>
    <form id="forgot-password" action="/forgot" method="POST">
        <label for="email_id">Enter registered email address</label>
        <input id="email_id" name="email_id" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        <input type="submit" value="Log In" />
    </form>
</div>
<div id="error-container-login">{{error}}</div> --}}

{{!--
<script src="../data/forgot_password.js"></script>
<script type="module" src="../public/validations/forgot_password.js"></script> --}}
<div class="forgot-password">
    <h2>Forgot Password</h2>
    <form id="forgot-password-form" action="/forgot" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit" id="submit-email">Submit</button>
    </form>