<link rel="stylesheet" href="/public/css/goals.css">
<h1 class="set_new_goals">Congrats! You're one step closer to your dream goal ! </h1>
<div class="container">
    <h1>Let's get started</h1>
    <form id="goal-form" action="/goals/viewgoals" method="POST">
    {{#if success}}
  <div class="alert">
    {{success}}
  </div>
  {{/if}}
    {{#if error_server}}
    <div class="error">{{error_server}}</div>
    {{/if}}
        <label for="goal-select">What is this Goal for?</label>
        <select id="goal-select" name="goal_select">
            <option value="">--Select Goal Purpose--</option>
            <!-- Create options for each region in alphabetical order -->
            <option value="Crush_credit_card_debt">Crush credit card debt</option>
            <option value="Wipe_out_my_loans">Wipe out my loans</option>
            <option value="Save_for_a_rainy_day">Save for a rainy day</option>
            <option value="Prepare_for_retirement">Prepare for retirement</option>
            <option value="Buy_a_home">Buy a home</option>
            <option value="Buy_a_car">Buy a car</option>
            <option value="Save_for_college">Save for college</option>
            <option value="Take_a_Trip">Take a Trip</option>
            <option value="Improve_my_home">Improve my home</option>
            <option value="Something_else">Something else</option>
        </select>
        <label for="goal_name">Name your goal</label>
        <input type="text" id="goal_name" name="goal_name" required>

        <label for="goal_amount">How much do you want to save</label>
        <input type="number" id="goal_amount" name="goal_amount" required>

        <label for="goal_date">Awesome , when do you need it by ? </label>
        <input type="date" id="goal_date" name="goal_date" required>

        <button type="submit" value="Submit">Submit</button>
        <div class="error" id="error" hidden></div>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
         <script src='/public/validations/goals.js'></script>
    </form>
  
    <button id="dashboard" onclick="window.location.href='/dashboard'">Back to Dashboard</button>
</div>