<link rel="stylesheet" href="/public/css/goal_savings.css">
<h1>Add Goal Savings</h1>
<form id="goal_saving_form" action="/goals/new" method="POST">
{{#if success}}
  <div class="alert">
    {{success}}
  </div>
  {{/if}}
   {{#if error_server}} <div class="err">{{error_server}}</div>{{/if}}
    <label for="goal_select">What Goal is this for?</label>
    <select id="goal_select" name="goal_select">
        <option value="">--Select from existing goals</option>
        {{#each data}}
        <option value="{{goal_name}}">{{goal_name}}</option>
        {{/each}}
    </select>

    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" id="amount" name="amount" placeholder="Enter amount" step="0.01" required>
    </div>

    <div class="error" id="error" hidden></div>
    <button type="submit">Add to Savings !</button>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src='/public/validations/goals.js'></script>
</form>
<button onclick="window.location.href='/dashboard'">Back to Dashboard</button>
