<link rel="stylesheet" type="text/css" href="/public/log_in.css">
<nav>
    <img id="logo" src="../public/images/798-7981159_piggy-bank-png-icon-white-piggy-bank-vector.png" alt = "logo">
    <ul>
        <li><a href="about" title="Learn about our website">About our website</a></li>
    </ul>
</nav>

<h1 class="page_title">Money Minder</h1>
<h2 class="page_desc">The one stop for tracking your expenses</h2>
<div class="container">
    <h1>Login</h1>
    <form id="login-form" action="/login" method="POST">
        <label for="username">Email</label>
        <input id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Log In</button>
    </form>
</div>

<div id="error-container-login">{{error}}</div>
<script src='/public/validations/log_in_registration.js'></script>
<div class="register_page">
    <a href="registration">Not a user ,register</a>
</div>
