<body>
    <link rel="stylesheet" type="text/css" href="../public/registration.css" />
    <div class="container">
        <h1>Registration</h1>
        <form action="/registration" method="POST">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" required />
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" required />
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob" required />
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required />
            <label for="password_initial">Set a new Password</label>
            <input type="password" id="password_initial" name="password_initial" required />
            <label for="password_confirm">Confirm Password</label>
            <input type="password" id="password_confirm" name="password_confirm" required />
            <label for="monthly_target">Monthly saving target</label>
            <input type="number" step="0.01" id="monthly_target" name="monthly_target" />

            <input type="submit" value="Register" onclick="validate()" />
        </form>
    </div>