form {
    max-width: 500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  button {
    background-color: #1e7132;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #3e8e41;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .form-group label {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .error {
    color: red;
  }
  .alert{
    font-weight:bolder;
    color:#1e7132;
  }
  body,
  table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: sans-serif;
    vertical-align: baseline;
  }

  /* Style the table */
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  /* Style the table headers */
  th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: left;
    padding: 8px;
  }

  /* Style the table cells */
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  /* Style alternating rows */
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }

  /* Style the page title */
  h1,h2 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  /* Style the page wrapper */
  body {
    padding: 16px;
  }
  button[name='remove']
  {
    background-color: #f44336;
  }
