/* Center align the title */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style the form container */
#goal_saving_form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Style the form fields */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: none;
    outline: none;
}

select {
    margin-bottom: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Style the error message */
#error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* Style the submit button */
button{
    background-color: #1e7132;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}