nav {
    background-color: #008000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

img {
    height: 50px;
    margin-right: 20px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
}

h1.page_title {
    text-align: center;
    color: #1e7132;
}

h2.page_desc {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #1e7132;
    color: white;
    border: none;
    cursor: pointer;
}

#error-container-login {
    color: red;
    margin-top: 20px;
    text-align: center;
}

.register_page {
    text-align: center;
    margin-top: 20px;
}

#error-container-login {
    color: red;
    text-align: center;
    margin-top: 20px;
}