body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    margin: 100px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[name="monthly_target"],
input[type="email"],
input[type="date"],
input[name="password_initial"],
input[name="password_confirm"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

nav {
    background-color: #008000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

img {
    height: 50px;
    margin-right: 20px;
}